.main_phase_break_container_ah {
    border-radius: 8px;
    color: black;
    text-transform: capitalize;
    min-height: 62vh;
    background-color: white;
}

#view-project-tasks-ah {
    background-color: inherit;
    color: black;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#view-project-tasks-ah button {
    color: black;
}

.main_phase_break_container_ah h5 {
    color: #70bfad;
}

.main_phase_break_container_ah p {
    color: black;
    font-weight: 500;
}

#error {
    color: teal;
    font-size: 1rem;
    text-align: center;
    text-transform: capitalize;
}

.hero .card-body:hover {
    transform: scale(1.02);
    cursor: pointer;
    border: 1px black solid;
}