.passwordReset {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-wrapper {
    /* background-image: url("../images/bg-build.avif"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(#70bfad 40%, black);
}

.passwordReset input:focus {
    box-shadow: none;
}

.passwordReset input {
    border: none;
    caret-color: #70bfad;
}

.passwordReset span {
    border: 3px solid black;
    border-radius: 5px;
    padding: 3px;
}

.passwordReset .login-icon {
    border-right: 3px solid black;
}

.passwordReset label {
    font-weight: 550;
}

.passwordReset input:focus {
    border: 2px solid black;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    caret-color: #70bfad;
    /* caret-color: #8da1af; */
}

input[type=number] {
    -moz-appearance: textfield;
}

#reset-btn {
    background-color: black;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    font-size: larger;
    box-shadow: none;
    border: none;
}

#backToLogin a {
    background-color: whitesmoke;
    margin: 0px -15px;
    padding: 10px 0px;
    border-top: 1px solid black;
    color: black;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
}

#backToLogin a:hover {
    color: #8da1af;
}

.toRegsiter {
    font-size: small;
    font-weight: 600;
    text-decoration: none;
    color: red;
}

.toRegsiter a {
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.toRegsiter a:hover {
    color: black;
    background-color: whitesmoke;
}

.passwordReset h3 {
    font-size: 2rem;
}

.passwordReset h6 {
    text-align: center;
    color: black;
    font-size: 1.5rem;
}